<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context = "http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-init-method="secondinit" default-destroy-method="destory">
	
	 <context:annotation-config/>

	<bean id="FirstBean" class="springLearning.HelloWorld">
		<property name="message" value="spring" />
		<property name="message1" value="learning" />
	</bean>

	<bean id="SecondBean" class="springLearning.HelloIndia"
		parent="FirstBean">
		<property name="message" value="overRidingSpring" />
		<property name="message2" value="child" />
	</bean>

	<bean id="textEditor" class="springLearning.TextEditor">
		<property name="spellChecker">
			<bean id="spellChecker" class="springLearning.SpellChecker" />
		</property>

	</bean>
	
	<bean   id="javaCollections" class="springLearning.JavaCollection " >
	
	<property name="addressList" >
	<list>  
	
	<value>INDIA </value>
	<value> PAKISTHAN </value>
	<value> USA </value>
	<value> USA </value>
	
	</list>
	
	</property>
	
	<property name="addressSet">
	<set>
	
	<value>INDIA </value>
	<value>PAKISTHAN</value>
	<value>USA</value>
	<value>USA</value>
	
	</set>
	</property>
	
	<property name="addressMap">
	<map>
	
	<entry key="1" value="INDIA"/>

	<entry key="2" value="PAKISTHAN"/>
	
	<entry key="3" value="USA"/>
	
	<entry key="4" value="USA"/>
	
	</map>
	
	</property>
	

	
	<property name="addressProp">
	
	<props>
	
	<prop key ="zero" >INDIA</prop>
	
	<prop key ="one" >INDIA</prop>
	
	<prop key ="two">PAKISTHAN</prop>
	
	
	
	<prop key ="three">USA</prop>
	
	<prop key ="four">USA</prop>
	
	</props>
	
	</property>
	</bean>
	

</beans>
   
   
   